:root {
  --combobox-max-width: 320px;
  --combobox-list-height: 18em;
  --combobox-list-gap: 4px;
  --combobox-border-color: #ccc;
  --combobox-group-color: white;
  --combobox-group-background-color: var(--color-primary);
}

.combobox__container {
  position: relative;
  display: inline-block;
  width: var(--combobox-max-width);
  font-family: var(--font-family);

  .fluid {
    width: 100%;
  }
}

.combobox__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.combobox__input {
  font-size: var(--font-size-body);
  padding: var(--size-xs);
}

.combobox__list {
  position: absolute;
  z-index: 1;
  margin-top: var(--combobox-list-gap);
  padding: 0;
  width: calc(var(--combobox-max-width) - 4px);
  /* width: min(100%, 320px); */
  max-height: var(--combobox-list-height);
  border: var(--border-default);
  background: white;
  overflow-y: auto;
  visibility: hidden;
  border-radius: var(--radius-1);
  box-shadow: 0 0 #000, 0 1px 2px 0 rgba(0, 0, 0, 0.05),
    0 1px 2px 0 rgba(0, 0, 0, 0.05);

  overflow: hidden;
  /* &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    outline: 1px solid var(--color-background-light);
  } */

  &.expanded {
    visibility: visible;
  }

  & + *,
  .listbox-label + * {
    margin-top: 1em;
  }
}

.combobox__listitem {
  padding: var(--size-xxs);

  &.focused,
  &:hover {
    background-color: var(--color-background-highlight);
    border-color: var(--color-primary);
  }
}

/* Refactor styles below */

[role="group"] {
  margin: 0;
  padding: 0;
}

[role="group"] > [role="presentation"] {
  display: block;
  margin: 0;
  font-weight: bold;
  line-height: 2;
  color: var(--combobox-group-color);
  background-color: var(--combobox-group-background-color);
}

[role="option"] {
  position: relative;
  display: block;
  cursor: pointer;
}

[role="toolbar"] {
  display: flex;
}

[role="toolbar"] > * {
  border: 1px solid #aaa;
  background: #ccc;
}

[role="toolbar"] > [aria-disabled="false"]:focus {
  background-color: #eee;
}

.annotate {
  color: #366ed4;
  font-style: italic;
}

.hidden {
  display: none;
}
